# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Prokop\Desktop\Vejška\3. semestr\ear\semestralka\ear-rodr-umlasek\meeting_scheduler_ear\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
